// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

// Variables
@import 'variables';

// SB Admin 2
@import '~startbootstrap-sb-admin-2/css/sb-admin-2.min.css';
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

.bg-login-image {
    background: url('https://source.unsplash.com/K4mSJ7kc0As/600x800');
    background-position: center;
    background-size: cover;
}

.bg-gradient-primary {
    background-color: #4e73df;
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
    background-size: cover;
}

